.command-section {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.command-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
  }
}

.command-list__item {
  background-color: #ffffff;
  width: 100%;
  // .command-list & + & {
  //   margin-left: 30px;
  // }
  .command-list &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    .command-list &:nth-child(2n + 2) {
      margin-bottom: 30px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 354px;
    .command-list &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.command-header {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.command-list__header {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.command-list__text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.command-list__member {
  padding-top: 30px;
  padding-bottom: 30px;
}
