.header {
  border-bottom: 1px solid #ececec;
}
.nav-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.header-accent {
  color: #000000;
}

.header-list {
  display: flex;

  & .link.current {
    color: var(--accent-color);
  }
}

.header-list__item {
  position: relative;
  .header-list & + & {
    margin-left: 50px;
  }
}
.header-line.current {
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-right {
  display: flex;
  margin-left: auto;
}

.header-right .contacts-item + .contacts-item {
  margin-left: 50px;
}

.icon-mail,
.icon-tel {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
.header-link-contacts {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-navigation {
  display: flex;
}
.header-logo.link {
  padding-top: 24px;
  padding-bottom: 25px;
}
