.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
