.hero-section {
  // padding-top: 200px;
  // padding-bottom: 200px;
  text-align: center;
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  max-width: 320px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 13px;
  line-height: calc (42/26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  @media screen and (min-width: 480px) {
    max-width: 360px;
    font-size: 26px;
  }
  @media screen and (min-width: 768px) {
    max-width: 360px;
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc (60/44);
    max-width: 696px;
  }
}
.hero-box {
  padding: 118px 60px 198px 60px;
}
