.hero-section {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}
.hero-container {
  padding: 0;
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../img/imghero-mob-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  max-width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 0.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
